.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.admin-container h1 {
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.btn-register {
    margin-bottom: 1.5rem;
}

.list {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(18, 18, 18, 0.38);
    border: 1px solid rgb(48, 48, 48);
    border-radius: 4px;
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
}

.list p {
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.list button {
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    padding: 7px 10px;
    font-size: .9rem;
}

.btn-delete {
    color: #eea639;
    background-color: transparent;
}

.btn-logout {
    position: fixed;
    bottom: 6%;
    left: 4%;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 30px;

    font-weight: bold;
    background-color: rgba(219, 38, 41, 0.35);
    color: #fafafa;
    transition: all .5s;
}
.btn-logout:hover {
    background-color: rgba(219, 38, 41, 1);
    color: #fff;
}

.alert-div {
    background-color: rgba(41, 41, 41, 1);
    width: 90%;
    max-width: 600px;
    height: 200px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;

    position: absolute;
    top: -100vh;
    transition: all .5s;
}

.alert-div h3 {
    color: #ffcc23;
}

.alert-div button {
    margin: 0 auto;
    padding: 8px;
    color: #fff;
    background-color: rgba(219, 38, 41, 1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.alert-active {
    top: 10vh;
}